.contenedor{
    display: flex;
    flex-direction: column;
    background: linear-gradient(to bottom, #fff, #F9D1D6);
    width:fit-content;
    border-radius: 30px;
    align-items: center;
    text-align: center;
    padding: 0 0.5rem 0.5rem 0.5rem;
    margin: 2%;
    transition: transform 0.2s ease;
}

.contenedor:hover{
    transform: scale(1.05);
}

.texto{
    white-space: normal;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

/* @media (min-width: 768px) {
    .contenedor{
        width: 12%;
    }
}

@media (min-width: 1024px) {
    .contenedor{
        width: 8%;
    }
} */