.button {
  display: flex;
  padding: 2% 3%;
  border-radius: 10px;
  letter-spacing: 1px;
  margin: 1rem;
  transition: opacity 0.5s;
  font-weight: 600;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 7%;
  max-width: 50%;
}

.button:hover {
  cursor: pointer;
  opacity: 0.8;
}

.principal {
  background-color: #E11932;
  color: #F2F3F7;
  box-shadow: 0 4px 4px 0 #0000002c;
  border: none;
  outline: none;
}

.secundario {
  background-color: #F9D1D6;
  color: #E11932;
  box-shadow: 0 4px 4px 0 #4b4b4b2c;
  border: none;
}

.terciario {
  background-color: #F2F3F7;
  color: #E11932;
  border: solid 1px #E11932;
}

.button-icon {
  vertical-align: middle;
}