.card_receta{
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 2rem;
    align-items: center;
    max-width: 350px;
}

.informacion_receta{
    height: -webkit-fill-available;
    flex-direction: column;
    justify-content: center;
    width: 65%;
    padding: 0 1rem 0 1rem;
    border-radius: 10px 0 0 10px;
    box-shadow: 0 4px 4px 0 rgb( 0 , 0, 0, 0.1);
}

.img_receta{
    height: 100%;
    width: 35%;
    object-fit: cover;
    border-radius: 0 10px 10px 0;
    box-shadow: 0 4px 6px 0 rgb( 0 , 0, 0, 0.2);
}

.categoria_receta, .titulo_receta{
    text-align: left;
    margin: 0;
    padding: 0;
}

.categoria_receta{
    font-size: 8pt;
}

.intrucciones_receta {
    font-size: 9pt;
    display:none;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #979797;
}

.valoracion_receta{
    margin: 0;
    padding: 0;
}

.boton_guardar{
    margin-top: 0;
}

@media (min-width: 768px) {

    .intrucciones_receta {
        display: -webkit-box;
    }
}
