.containerCategorias{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 95%;
    justify-self: center;
    justify-content: space-between;
}

@media (min-width: 768px) {

    .containerCategorias{
        width: 80%;
    }

}