.containerCategorias{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 95%;
    justify-self: center;
    justify-content: space-evenly;
    column-gap: 2rem;
    row-gap: 1rem;
}

@media (min-width: 768px) {

    .containerCategorias{
        width: 80%;
    }

}